<template>
  <MainLayout v-bind:title="this.title">
    <div class="container-fluid px-0">
      <div class="container">
        <div class="row flex-center min-vh-100 py-5">
          <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3">
            <a
              class="d-flex flex-center text-decoration-none mb-4"
              href="../../../index.html"
            >
              <div class="d-flex align-items-center">
                <img
                  src="../../../../public/img/icons/logo.png"
                  alt="phoenix"
                  width="58"
                />
              </div>
            </a>
            <div class="text-center mb-7">
              <h3>Sign In</h3>
              <p class="text-700">Get access to your account</p>
            </div>
            <form @submit.prevent="loginAdmin">
            <div class="mb-3 text-start">
              <label class="form-label" for="email">Email address</label>
              <div class="form-icon-container">
                <input
                  class="form-control form-icon-input"
                  id="email"
                  type="email"
                  v-model="loginData.email"
                  placeholder="name@example.com"
                /><span class="fas fa-user text-900 fs--1 form-icon"></span>
              </div>
            </div>
            <div class="mb-3 text-start">
              <label class="form-label" for="password">Password</label>
              <div class="form-icon-container">
                <input
                  class="form-control form-icon-input"
                  type="password"
                  placeholder="Password"
                  v-model="loginData.password"
                /><span class="fas fa-user text-900 fs--1 form-icon"></span>
              </div>
            </div>
            <div class="row flex-between-center mb-7">
              <div class="col-auto">
                <div class="form-check mb-0">
                  <input
                    class="form-check-input"
                    id="basic-checkbox"
                    type="checkbox"
                    v-model="loginData.remember"
                    checked="checked"
                  /><label class="form-check-label mb-0" for="basic-checkbox"
                    >Remember me</label
                  >
                </div>
              </div>
              <div class="col-auto">
                <a class="fs--1 fw-semi-bold" href="#!">Forgot Password?</a>
              </div>
            </div>
            <button type="submit" class="btn btn-primary w-100 mb-3">Sign In</button>
            </form>
            <div class="text-center">
              <a class="fs--1 fw-bold" href="#">Create an account</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </MainLayout>
</template>
<script>
import MainLayout from "../../Layouts/Main";
import { Inertia } from '@inertiajs/inertia';
// import { reactive} from 'vue';
export default {
  name: "LoginIndex",
  component: {
    MainLayout,
  },
  props: {
      title: String,
      loginData: Object,
      errors: Object,
  },
  data(){
      return {
          LoginData: {
              email: "",
              password: "",
              remember: ""
          }
      }
  },
  setup() {

    //function updatePost
    function loginAdmin() {

        //define variable
        let email   = loginData.email
        let password = loginData.password

        //send data
        Inertia.post(route('admin.login'), {
            email: email,
            password: password
        })

    }

    return {
        // LoginData,
        loginAdmin
    }

}
};
</script>
