<template>
    <main>
        <header>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&amp;display=swap">
            <link rel="stylesheet" href="../../css/phoenix.min.css">
            <link rel="stylesheet" href="../../css/user.min.css">
        </header>
        <article>
            <Slot />
        </article>
    </main>
</template>

<script>
export default {
    name : 'AuthLayout',
    component : {

    }
}
</script>
