<template>
    <Head>
        <title>{{ $page.props.title }} - My awesome app</title>
    </Head>
        <article>
    <main class="main" id="top">
            <Sidebar />
            <div v-if="$page.props.flash.message" class="alert">
        {{ $page.props.flash.message }}
      </div>
            <Slot />
    </main>
        </article>
</template>

<script>
export default {
    props: {
        title: String,
    },
    name : 'MainLayout',
    // watch: {
    //     title: {
    //         immediate: true,
    //         handler(title) {
    //             document.title = title
    //         }
    //     }
    // }
}
</script>
